@{ ViewBag.Title = "Search"; }
<div class="container">
    <div class="row">
        <section class="col-md-9">
            <div class="page-header">
                <h1>Search in blog</h1>
            </div>
            @Html.Action("SearchGridViewPartial", "Pages", new { query = Model })
        </section>
        <div class="col-md-3">
            @Html.Partial("BlogCategoriesNavBarPartial")
        </div>
    </div>
</div>