<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>MES看板系统</title>

    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard },
            new StyleSheet { ExtensionSuite = ExtensionSuite.DashboardViewer }
        )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.Dashboard },
            new Script { ExtensionSuite = ExtensionSuite.DashboardViewer }
        )

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>


        <div style="position:absolute;top:0;right:0;bottom:0;left:0">
            @RenderBody()
        </div>
</body>
</html>