@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

 
 
@model MES_MVC.Models.AddPhoneNumberViewModel 
@{ 
    ViewBag.Title = "Add Phone Number"; 
} 
 
<div class="accountHeader">
    <h2>Add a phone number</h2>
</div>
@using (Html.BeginForm("AddPhoneNumber", "Manage")) {  
    @Html.AntiForgeryToken() 
 
    @Html.DevExpress().TextBoxFor(m => m.PhoneNumber, s => {
        s.Properties.Caption = "Phone";
        s.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
        s.ShowModelErrors = true;
        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).GetHtml()    <br /> 
    @Html.DevExpress().Button(s => {
        s.Name = s.Text = "Submit";
        s.UseSubmitBehavior = true;
    }).GetHtml() 
}