@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

@model MES_MVC.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot password";
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    @Html.DevExpress().TextBoxFor(m => m.Email, s => {
        s.Properties.Caption = "Email";
        s.ShowModelErrors = true;
        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).GetHtml()
    <br />
    @Html.DevExpress().Button(s => {
        s.Name = "EmailLink";
        s.Text = "Email Link";
        s.UseSubmitBehavior = true;
    }).GetHtml()
}