@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
<p>Please check your email to reset your password.</p>