@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
<p>
    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account")
</p>