<div class='title'>
    <a href="@Url.Action("Home", "Pages")">DX BLOG</a>
    <p class="small">Mobile friendly</p>
</div>
<div class="panelContent">
    <div class="pull-right">
        <div class="panelItem">
            @Html.DevExpress().Menu(m => {
           m.Name = "NavMenu";
           m.EnableAnimation = true;
           m.ControlStyle.CssClass = "navMenu";
           m.Styles.Item.Paddings.PaddingLeft = 22;
           m.Styles.Item.Paddings.PaddingRight = 22;

           m.Items.Add("HOME").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Home" });
           m.Items.Add("BLOG").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "BlogTimeline" });
           m.Items.Add("CONTACT US").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Contacts" });
           m.Items.Add("产品管理").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Products", Action = "Index" });
           m.Items.Add("工厂管理").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Stations", Action = "Index" });






       }).GetHtml() 
        </div>
        @if(ViewBag.ShowSearchEditor == null || ViewBag.ShowSearchEditor) {    
        <div class="panelItem">
            <script>
                function OnSearchKeyUp(s, e) {
                    if(e.htmlEvent.keyCode == 13) {
                        OnSearchClick();
                    }
                }
                function OnSearchClick(){
                    $('#searchForm').submit();
                }
            </script>
            @using(Html.BeginForm("Search", "Pages", FormMethod.Post, new { id = "searchForm" })) { 
                Html.DevExpress().ButtonEdit(be => {
                    be.Name = "Query";
                    be.Properties.NullText = "Search in blog";
                    be.ControlStyle.CssClass = "searchBox";
                    be.Properties.ButtonStyle.CssClass = "glyphicon glyphicon-search searchBoxButton";
                    be.Properties.Buttons.Add();
                    be.Properties.ClientSideEvents.ButtonClick = "OnSearchClick";
                    be.Properties.ClientSideEvents.KeyUp = "OnSearchKeyUp";
                }).Render();
            } 
        </div>
        } 
        <div class="panelItem">
            @Html.Partial("LogOnPartialView") 
        </div>
 
    </div>
    <div class="clearfix"></div>
</div>